Repository quentinblampey/gbm_hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.27.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: \.ipynb$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        name: Format yaml files using `prettier`
        files: \.(yaml|yml)$
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
      - id: poetry-check
        name: Run poetry check to validate configuration
  - repo: local
    hooks:
      # Linter
      - id: ruff-linter
        name: Lint with `ruff`
        language: system
        types: [python]
        require_serial: true
        entry: poetry run ruff check
        args: [--fix]
        files: ^(gbmosaic|tests)/
      # Formatter
      - id: ruff-format
        name: Format with `ruff`
        language: system
        types: [python]
        require_serial: true
        entry: poetry run ruff format
        files: ^(gbmosaic|tests)/
      # Type checker
      - id: mypy
        name: Test typing with `mypy`
        language: system
        types: [python]
        require_serial: true
        entry: poetry run mypy
        files: ^gbmosaic/
      # Jupyter notebook formatter
      - id: jupyter-nb-clear-output
        name: Clear Jupyter notebook outputs
        files: \.ipynb$
        language: system
        entry: poetry run jupyter nbconvert
        args: [--ClearOutputPreprocessor.enabled=True, --inplace]

update to new repository name
  README.md
Due: none

remove unacessary test folder
  tests/__init__.py
Due: ruff-linter, ruff-format

update notebook name
  README.md
Due: none

clone repository using https
  README.md
Due: none

fix typo visium notebook
  notebooks/visium_starter_mosaic.ipynb
Due: jupyter-nb-clear-output

complement information
  README.md
Due: none

architecture poc
  notebooks/dataset.py
  notebooks/run_novae.py
Due: none
